.list-group-item-label:hover {
  cursor: pointer;
}

.list-group-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.list-group-item .viewers {
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 8px 40px;
  margin-right: 5px;
  color: #404040;
}

.list-group-item .fa-cookie {
  color: #e09f3e;
}
.list-group-item .fa-trash {
  color: #e5383b;
}
.list-group-item .fa-star {
  color: #e09f3e;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: translateX(30px);
  opacity: 0;
}

.list-group-item.like .fa-star {
  transform: translateX(0);
  opacity: 1;
}
.list-group-item.favourite .list-group-item-label,
.list-group-item.favourite .viewers {
  color: #e09f3e;
  transition: all 0.3s ease-in-out;
}

